
button {
  background-color: #DD4814;
  color: #FFFFFF;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
}

.geral{
    display: flex;
}

.rotina{
  display: flex;
  min-width: 25vw;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px; /* gambiarra rs rs */
}

.ae{
  max-width:60vw;
}

